@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body{
    background-color:lightgray;
    margin:0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    a{
        text-decoration: none;
    }
}  